.category-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.category-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}
/* .btn.btn-light{
  transition: background-color 0.3s ease;
  
} */