body {
  background-color: #000;
}

.card {
  width: 400px;
  border: none;
}
#pills-home-tab {
  background-color: #e8c39e;
}
#pills-profile-tab {
  color: white;
}

.tab-content {
  border-color: #000;
}

.btr {
  border-top-right-radius: 5px !important;
}

.btl {
  border-top-left-radius: 5px !important;
}

.btn-dark {
  color: #fff;
  background-color: #0e0e0e;
  border-color: #0d6efd;
}

.btn-dark:hover {
  color: #fff;
  background-color: #808080;
  border-color: #0d6efd;
}

.nav-pills {
  display: table !important;
  width: 100%;
}

.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #e8ebf040;
}

.nav-item {
  display: table-cell;
  background: #0e0e0e;
}

.form {
  padding: 10px;
  height: 300px;
}

.form input {
  margin-bottom: 12px;
  border-radius: 3px;
}

.form input:focus {
  box-shadow: none;
}

.form button {
  margin-top: 20px;
}
.login {
  width: 100%;
}

.form-control:hover{
  border-color: #000;
}