h1{
    text-align: center;
    background: gray;
}


.btn-primary {
  background-color: blue;
  color: white;
  padding: 10px;
}

.btn-secondary {
  background-color: gray;
  color: black;
  padding: 10px;
}
