<h1>Contact us</h1>
<form style="width: 22rem" class="container mt-3">
  <!-- Name input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="form5Example1" class="form-control" />
    <label class="form-label" for="form5Example1">Name</label>
  </div>

  <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="email" id="form5Example2" class="form-control" />
    <label class="form-label" for="form5Example2">Email address</label>
  </div>

  <textarea class="form-control" aria-label="With textarea"></textarea>

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      id="form5Example3"
      checked
    />
    <label class="form-check-label" for="form5Example3">
      I have read and agree to the terms
    </label>
  </div>

  <!-- Submit button -->
  <button
    data-mdb-ripple-init
    type="button"
    class="btn btn-primary btn-block mb-4"
    (click)="clickEvent()"
  >
    Submit
  </button>
</form>

<input [(ngModel)]="name" placeholder="Enter your name" />
<p>Hello, {{ name }}!</p>

<h3>Binding Types</h3>

<p>Event Binding</p>

<button class="btn btn-block" (click)="Clickme($event)">Click Here</button>

<div style="text-align: center">
  <h1>ngClass Attribute</h1>
  <div>
    <button
      [ngClass]="{ 'btn-primary': isActive, 'btn-secondary': !isActive }"
      (click)="toggleActive()"
    >
      {{ isActive ? "Active" : "Inactive" }}
    </button>
  </div>
  <br />
  <div style="text-align: center">
    <h1>ngStyle Attribute Example</h1>
    <div [ngStyle]="{ 'background-color': isActive ? 'red' : 'green' }">
      Hello Active
    </div>
  </div>
</div>

<div>
  @if(showLogin){
  <div>
    <h2>Login page, please Signup</h2>
  </div>
  } @else {
  <div>
    <h2>Signup Page, new User can sign up the page.</h2>
  </div>
  }

  <button (click)="showSignup()">{{ display ? "SignUp" : "Login" }}</button>
</div>

<div>
  @if (display == 1){
  <div
    style="
      background-color: black;
      color: azure;
      text-align: center;
      height: 100px;
      width: 100px;
    "
  >
    Black
  </div>
  } @else if(display == 2){
  <div
    style="
      background-color: rgb(214, 24, 24);
      color: azure;
      text-align: center;
      height: 100px;
      width: 100px;
    "
  >
    Red
  </div>
  } @else if(display == 3){
  <div
    style="
      background-color: rgb(14, 193, 220);
      color: azure;
      text-align: center;
      height: 100px;
      width: 100px;
    "
  >
    Blue
  </div>
  } @else(){
  <div
    style="
      background-color: rgb(215, 14, 230);
      color: azure;
      text-align: center;
      height: 100px;
      width: 100px;
    "
  >
    Purple
  </div>
  }
  <button (click)="show(1)">Black</button>
  <button (click)="show(2)">Red</button>
  <button (click)="show(3)">Blue</button>
  <button (click)="show(4)">purple</button>

  <input
    type="text"
    (input)="searchBox($event)"
    placeholder="search the colour..."
  />
</div>

<div>
  <h1>Signal Components</h1>
  <button (click)="helloSignal()">Computed Signal value</button>
</div>
