body {
  font-family: 'Segoe UI', sans-serif;
}

#btn-light {
  background-color: #fff;
  color: #333;
  border: none;
  transition: background-color 0.3s ease;
}

#btn-light:hover {
  background-color: #ddd;
  color: #000;
  
}

#nehal{
    color: red;
}
.welcome{
  color: wheat;
}

.explore-heading{
  
}